* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%;
  font-family: Roboto;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  font-weight: 300;
}

hr {
  width: 100%;
}

h1 {
  font-size: 3.2rem;
  font-weight: 100;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 3.8rem;
  font-weight: 100;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.header-icon a {
  color: black;
}

.down-icon {
  bottom: 0;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  position: absolute;
}

nav {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  position: sticky;
  top: 0;
  width: 100%;
}

img {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.nav {
  align-items: center;
  background: black;
  color: white;
  display: flex;
  font-size: 1.4rem;
  justify-content: center;
  padding: 2rem;
}

.nav-links-list {
  display: flex;
}

.nav-links ul li {
  font-weight: 100;
  list-style: none;
  margin: 0 2rem;
}

.about {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.about-text {
  font-size: 1.4rem;
  font-weight: 100;
}

.about-text h2 {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 100;
  padding: 2rem;
}

.about-text p {
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.social-icons {
  font-size: 2.8rem;
  margin-top: 2rem;
}

.social-icons a {
  color: black;
  padding: 1.5rem;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4rem 6rem;
  padding-top: 6rem;
}

.projects h2 {
  font-size: 2.8rem;
  font-weight: 100;
  margin-bottom: 4rem;
  text-align: center;
}

.project-group {
  display: flex;
  justify-content: space-evenly;
}

.project-main-details {
  flex: 2;
  margin: 4rem 0;
  padding: 2rem;
}

.project-home-link {
  background-color: black;
  margin-right: 1.5rem;
  padding: 0.5rem;
}

.project-code-link {
  margin-left: 1.5rem;
}

.project-main-details h3 {
  font-size: 2.4rem;
  font-weight: 100;
  margin-bottom: 2rem;
}

.project-main-details p {
  font-size: 1.4rem;
  font-weight: 100;
  margin-bottom: 2rem;
}

.project-code-link a {
  color: black;
}

.project-wrapper {
  margin-bottom: 3rem;
}

.project-skills {
  flex: 1;
  margin: 4rem 0;
  padding: 2rem;
}

.project-skills h3 {
  font-size: 2.4rem;
  font-weight: 100;
  margin-bottom: 2rem;
  text-align: right;
}

.project-skills ul {
  columns: 2;
  text-align: right;
}

.project-skills ul li {
  font-size: 1.4rem;
  font-weight: 100;
  list-style: none;
  margin-bottom: 0.5rem;
}

.skills {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
  padding-top: 4rem;
}

.skills-wrapper {
  margin: 0 6rem;
  width: 100%;
}

.skills-wrapper h2 {
  font-size: 2.8rem;
  font-weight: 100;
  margin: 4rem;
  text-align: center;
}

.skills-front,
.skills-back {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.skills-front h3,
.skills-back h3 {
  font-size: 2.4rem;
  font-weight: 100;
  margin: 4rem 0;
  text-align: center;
}

.skills-front ul,
.skills-back ul {
  columns: 3;
  font-size: 1.6rem;
  font-weight: 100;
  margin: 2rem 0;
  text-align: center;
}

.skills-front ul li,
.skills-back ul li {
  list-style: none;
  margin: 0.5rem 0;
}

@media screen and (max-width: 500px) {
  .about-text {
    margin: 0 2rem;
    text-align: center;
  }
  .projects {
    margin: 0 2rem;
  }
  .project-group {
    display: flex;
    flex-direction: column;
  }
  .project-main-details h3,
  .project-main-details p,
  .project-skills h3,
  .project-skills ul {
    text-align: center;
  }
  .project-skills {
    margin-top: 0;
  }
  .skills {
    margin: 0 2rem;
  }
  .skills-front ul,
  .skills-back ul {
    columns: 1;
  }
}
